<li id="issue-<%= issue.id %>">
  <h3><%= issue.title %> </h3>

  <ul style="list-style: none;">
    <% ar = [] %>
    <% @options.each do |option| %>
      <% if option.issue_id == issue.id %>
        <% ar.push option.option %>
      <% end %>
    <% end %>
  </ul>

  <%= form_for(:result, url: login_path) do |f| %>

    <%= f.select(:var_name, ar, {}, {multiple: "multiple"}) %>

    <%= f.submit "Vote", class: "btn btn-primary" %>
  <% end %>

</li>
